.logo {
	text-decoration: none;
	color: teal;
	font-weight: 600;
}
@media (max-width: 1040px) {
	.logo {
		font-size: 20px;
	}
}
@media (max-width: 380px) {
	.logo {
		font-size: 20px;
		margin-left: -90px;
	}
}
.logo:hover {
	color: crimson;
}

.menuitem1 {
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	margin-left: 25px;
	text-decoration: none;
	color: teal;
}
@media (max-width: 380px) {
	.menuitem1 {
		font-size: 12px;
		margin-left: -30px;
	}
}

.menuitem2 {
	font-size: 14px;
	cursor: pointer;
	margin-left: 25px;
	color: teal;
	font-weight: 600;
	text-decoration: none;
}
@media (max-width: 380px) {
	.menuitem2 {
		font-size: 12px;
	}
}
.menuitem1:hover {
	color: crimson;
}
.menuitem2:hover {
	color: crimson;
}

/* --------Login styles---------- */
.login,
.register {
	margin: 5px 0px;
	text-decoration: underline;
	cursor: pointer;
	color: teal;
	font-weight: 500;
	font-size: 10px;
}

.register {
	color: orangered;
}

/* -----------Dots styles--------- */

.all-dots {
	width: 50%;
	height: 70px;
	position: absolute;
	display: flex;
	top: 74%;
	justify-content: center;
	z-index: 200;
	margin-left: 350px;
	/* border: 1px solid red; */
}
@media (max-width: 1024px) {
	.all-dots {
		top: 85%;
		margin-left: 170px;
	}
}
@media (max-width: 645px) {
	.all-dots {
		top: 70%;
		margin-left: 85px;
	}
}

.dot {
	cursor: pointer;
	height: 0.5rem;
	width: 0.5rem;
	margin-top: 50px;
	margin: 50px 5px;
	background-color: gray;
	border-radius: 50%;
	display: inline-block;
}

.active-dot,
.dot:hover {
	background-color: rgb(32, 148, 163);
}
